body{
    background-image: url("../Images/the-climate-reality-project-Hb6uWq0i4MI-unsplash.jpg");
    object-fit: cover;
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100vw;
}

/* Contains the edits for both the image and form details*/
#main{
    font-family: 'Times New Roman';
    width: 920px;
    height: 500px;
}

form{
    width: 50%;
}

/* Contains the edits for the image attached*/
#main img {
    object-fit: cover;
}

/* Contains the edits for the name, password, and submit button box*/

.hack, .expect, .quote, .details, .example, .list, .submit, a{
    font-family: cursive;
}

/* Contains the bullet point list edits*/
.list{
    list-style-position: inside; /*a property that lets us move the bullets to within our content area.*/
}

#name, #email{
    height: 20px;
}

/* Contains the Submit Button edits for the next 17 lines */
#submit{
    min-height: 45px;
    height: auto;
}

#submit:hover{
    background-color: orange !important;
}

.privacy:hover{
    color: orange !important;
}

@media only screen and (max-width: 992px) {
    #main{
        width: 100%;
        height: 100%;
        border-radius: 0 !important;
    }

    form{
        width: 100%;
        overflow: scroll;
    }
}
