.btn-primary:hover{
    background-color: white;
    color: #123524 !important;
}

header{
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Shalimar', cursive;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.card-title, .card-body > a{
    font-family: 'Times New Roman';
}

.card-img{
    max-height: 100%;
    max-width: 100%;
}

#footer-ul li{
    margin: 0 auto;
}

main{
    min-height: 100vh;
}

@media only screen and (max-width: 300px){
    main, footer, header{
        overflow-x: scroll;
    }
    #header{
        flex-direction: column !important;
    }
}

@media only screen and (max-width: 575px){
    #footer-ul{
        display: flex;
        flex-direction: column !important;
    }
    #footer-ul li{
        margin: 0;
        padding-left: 12px;
    }
}
