$primary: #151e3d;
// $primary: $red;

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

$spacer: 1rem !default;
$custom-spacers: (
    6: $spacer * 6.25, //100px
    7: $spacer * 9.375,  //150px
    8: $spacer * 12.5  //200px
);

$custom-theme-colors: (
    "black": #000000,
    "phthalogreen": #123524,
);

$spacers: map-merge($custom-spacers, $spacers);
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

//imports bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';