$primary: #151e3d;
$danger: #4F7942;
$dark: #000;

$nav-link-color: rgba(255, 255, 255, 0.7);
$nav-link-hover-color: #fff;

$border-radius: 0.625rem;

$font-size-root: 1rem !default;

$font-sizes: (
    1: $font-size-root * 0.813,  //13px
    2: $font-size-root * 1,  //16px
    3: $font-size-root * 1.25, //20px
    4: $font-size-root * 1.438, //23px
    5: $font-size-root * 1.875, //30px
) !default;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
    sl: 2020px
) !default;

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

$custom-spacers: (
    6: 5%,
    7: 10%,
    8: 15%,
    9: 20%,
    10: 25%,
    11: 30%,
    12: 20px
);

$custom-font-sizes: (
    6: $font-size-root * 2.5 //40px
);

$custom-grid-breakpoints: (
    sl: 2500px
);

$spacers: map-merge($custom-spacers, $spacers);
$font-sizes: map-merge($custom-font-sizes, $font-sizes);

//imports bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';