.btn-primary:hover{
    background-color: white;
    color: #123524 !important;
}

header{
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Shalimar', cursive;
}

.fa-bars, .fa-calendar-check{
    color: white;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.card-title, .card-body > a{
    font-family: 'Times New Roman';
}